.spinner-frame {
    position: relative;
    width: 200px;
    height: 200px;
    background: gainsboro;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 48, 63,0.5);
    animation: scale-anim 2.5s linear infinite;
}

.spinner-frame::before {
    content: '';
    position: absolute;
    inset: -5px;
    background: conic-gradient(
        from 0deg,
        #DCAE1d,
        #CAE4DB,
        #CAE4DB,
        #CAE4DB,
        #DCAE1d
    );
    border-radius: 50%;
    animation: rotate 2s linear infinite;
    pointer-events: none;
    scale: 2;
    filter: contrast(1.25);
}

.spinner-frame::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: gainsboro;
    border: 1px solid #DCAE1d;
    border-radius: 50%;
    pointer-events: none;
    background-color: ghostwhite;
    box-shadow: inset 0 0 20px rgba(220, 174, 29, 0.25);
}

.spinner-text {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    z-index: 1;
    margin: 0;
    color: #00303f;
    background: linear-gradient(270deg, #7A9D96, #dcae1d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: breath 2s linear infinite;
    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Edge/IE */
}

@keyframes rotate {
    0% { transform: rotate(0deg); opacity: 0.4; }
    50% { transform: rotate(180deg); opacity: 1; }
    100% { transform: rotate(360deg); opacity: 0.4; }
}

@keyframes breath {
    0% { opacity: 0.4;}
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}

@keyframes scale-anim {
    0% { scale: 1; }
    50% { scale: 1.05; }
    100% { scale: 1; }
}        