.dbpage-search {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dbsearch-row {
    width: 85%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.dbsearch-subrow {
    width: 85%;
    display: flex;
    justify-content: center;
}

.dbsearch-card {
    width: 90%;
    background-color: ghostwhite;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(122, 157, 150, 0.5);
    animation: searchSlideIn 0.5s ease-out;
}

.dbsearch-header {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #00303f;
    margin: 8px 0px;
    display: flex;
    justify-content: center;
}

@keyframes searchSlideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
        filter: blur(2px);
    }
    to {
        transform: translateY(0); 
        opacity: 1;
        filter: blur(0px);
    }
}

.dbsearch-filters-container {
    margin: 16px;
    width: 100%;
}

.dbsearch-filter-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dbsearch-filters {
    display: flex;
}

.dbsearch-filter {
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.dbsearch-options-box {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
}

.dbsearch-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.dbsearch-label-small {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.dbsearch-textinput {
    width: 75%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00303f;
    background-color: ghostwhite;
    margin: 8px 16px;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.dbsearch-numbinput {
    width: 10%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00303f;
    background-color: ghostwhite;
    margin: 4px 4px;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.dbsearch-textinput:focus {
    outline: none;
    border: 2px solid #7A9D96;
}

.dbsearch-agerange-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 16px;
}

.dbsearch-dropdown-menu {
    width: 50%;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #00303f;
    background-color: ghostwhite;
    margin: 8px 16px;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.dbsearch-language-container {
    display: flex;
    align-items: center;
}

.dbsearch-lookingfor-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.dbsearch-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.dbsearch-button {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 32px;
    border-radius: 15px;
    border: 0px;
    color: #ffffff;
    background-color: #7A9D96;
    transition: all 0.5s;
    margin-top: 16px;
}

.dbsearch-button:hover {
    background-color: #CAE4DB;
    box-shadow: 0px 0px 15px 0px #7A9D96;
    scale: 1.02;
    cursor: pointer;
}

.dbsearch-checkbox {
    height: 15px;
    width: 15px;
}

.dbsearch-spinner-container {
    margin: 128px;
}

.dbsearch-results-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.dbsearch-result-card {
    width: 90%;
    background-color: ghostwhite;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(122, 157, 150, 0.5);
    animation: searchSlideIn 0.5s ease-out;
    transition: all 0.5s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard (Chrome, Opera) */
}

.dbsearch-result-card:hover {
    scale: 1.05;
    cursor: pointer;
}

.dbsearch-thumb-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dbsearch-lastlog-container {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #00303f;
    margin-top: -8px;
    user-select: none;
}

.dbsearch-lastlogin-online {
    font-weight: 500;
    margin-left: 4px;
    color: #DCAE1D;
}

.dbsearch-lastlogin-offline {
    font-weight: 500;
    margin-left: 4px;
    color: #7A9D96;
}

.dbsearch-thumbnail {
    width: 70%;
    max-width: 200px;
    height: 70%;
    max-height: 200px;
    margin: 16px;
    border-radius: 50%;
    border: 3px solid #7A9D96;
}

.dbsearch-header-container {
    margin: 16px;
    width: auto;
}

.dbsearch-username-container {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #00303f;
    margin-bottom: 8px;
}

.dbsearch-agegender {
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
}

.dbsearch-name-container {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #00303f;
}

.dbsearch-country-container {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #03003f;
    margin: 8px 0px;
    display: flex;
    align-items: center;
}

.dbsearch-goals-container {
    width: 100%;
    margin: 16px 0px;
}

.dbsearch-goals-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #00303f;
}

.dbsearch-goals {
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.dbsearch-goal {
    background-color: #7a9d96;
    margin: 4px;
    height: fit-content;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 8px 16px;
    color: white;
    border: 1px solid #00303f;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

.dbsearch-results-message {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 32px;
}

.dbsearch-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.dbsearch-results-notif {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 16px;
}