.page-profile-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.profile-loader-text {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.4rem;
    margin: 16px;
    font-weight: 500;
}

.profile-loader-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #7A9D96;
    border-top: 10px solid #DCAE1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}