html, body {
  margin: 0px;
  overflow-x: hidden;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #cae4db, white);
  position: fixed;
  top: 0px;
  left: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #DCAE1D;
}

.material-icons-round {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}