.page-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    animation: fadeIn 0.5s ease-in-out forwards;
}

.home-card {
    width: 80%;
    min-height: 50%;
    background-color: ghostwhite;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(122, 157, 150, 0.5);
}

.home-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 48, 63, 50);
    background-image:
        radial-gradient(rgba(0, 48, 63, .75), rgba(0, 48, 63, .85)),
        url('../../../public/Assets/OwlMigo_Hero.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #ffffff;

}

.hero-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: #ffffff;
}

.hero-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.075rem;
    color: gainsboro;
}

.hero-content {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 32px;
    margin-right: 32px;
    letter-spacing: 0.075rem;
    display: flex;
    text-align: center;
    color: #CAE4D8;
}

.hero-button {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 32px;
    padding: 8px 32px;
    border-radius: 15px;
    border: 0px;
    color: #ffffff;
    background-color: #D4AE1D;
    transition: all 0.5s ease-in-out;
}

.hero-button:hover {
    background-color: rgb(250, 220, 127);
    box-shadow: 0px 0px 10px 5px #ffffff;
    scale: 1.02;
    cursor: pointer;
}

.home-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 12px;
}

.login-content {
    width: 60%;
    margin: 32px;
}

.login-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.login-input {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00303f;
    margin: 16px 0px;
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.login-input:focus {
    outline: none;
    border: 2px solid #7A9D96;
}

.login-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
}

.login-button {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 12px;
    padding: 8px 32px;
    border-radius: 15px;
    border: 0px;
    color: #ffffff;
    background-color: #7A9D96;
    transition: all 0.5s;
}

.login-button:hover {
    background-color: #CAE4DB;
    box-shadow: 0px 0px 15px 0px #7A9D96;
    scale: 1.02;
    cursor: pointer;
}

.login-error {
    color: #D64452;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-flavor {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    
}