.page-dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
    overflow: hidden;
}

.dashboard-content-area {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-top: 56px;
}



