.page-register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}



.register-card {
    width: 80%;
    min-height: 50%;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(122, 157, 150, 0.5);
    align-items: center;
}

.register-header {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.register-form {
    width: 70%;
}

.register-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-right: 8px;
}

.register-input {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00303f;
    background-color: ghostwhite;
    margin: 8px auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.register-input:focus {
    outline: none;
    border: 2px solid #7A9D96;
}

.register-at {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #DCAE1D;
}

.register-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 8px 0px;
}

.register-subcontainer {
    width: 50%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-btn {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 12px;
    padding: 8px 32px;
    border-radius: 15px;
    border: 0px;
    color: #ffffff;
    background-color: #7A9D96;
    transition: all 0.5s;
}

.register-btn:hover {
    background-color: #CAE4DB;
    box-shadow: 0px 0px 15px 0px #7A9D96;
    scale: 1.02;
    cursor: pointer;
}

.reg-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 8px 0px;
}

.register-privacy {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8px;
}

.register-error {
    color: #D64452;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    font-style: italic;
}